body {
  font-family: Arial, sans-serif;
  text-align: center;
  background-color: #fff;
  color: #000;
  margin: 50px auto;
}

.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 50px;
}

.file-input-container {
  margin-bottom: 20px;
}

.card-container {
  display: none;
  width: 70%;
  height: 600px;
  background-color: #f1f1f1;
  margin: 20px auto;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
  border: 1px solid #ccc;
  border-radius: 25px;
  position: relative;
  perspective: 1000px;
  overflow: hidden;
}

.card-container.flip .card-inner {
  transform: rotateY(180deg);
}

.card-inner {
  width: 100%;
  height: 100%;
  position: relative;
  transform-style: preserve-3d;
  transition: transform 0.6s;
  justify-content: center;
  align-items: center;
}

.card-front,
.card-back {
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  backface-visibility: hidden;
  padding: 0px;
}

.card-back {
  transform: rotateY(-180deg);
  overflow: auto;
}

.button-container {
  display: none;
}

.button-container button {
  padding: 10px;
  font-size: 18px;
  margin: 0 30px; 
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.2);
}

#flip-button {
  font-size: 23.4px; /* 30% larger than 18px */
  font-weight: bold; /* Make the text bold */
}

#question-header,
#answer-header {
  margin-bottom: 10px;
}

#question-content,
#answer-content {
  margin-top: 10px;
  display: block;
}

#progress {
  margin-top: 20px;
  font-size: 30px;
  color: #333;
  font-weight: bold; /* Make the text bold */
}

@media screen and (max-width: 600px) {
  .card-container {
    width: 95%;  
    height: 90vh;
  }
}

.top-right {
  position: absolute;
  top: 10px;
  right: 10px;
}

#chooseFileLabel,
#csvFileInput {
  vertical-align: middle;
}

#file-input-container {
  display: inline-block;
}

#csvFileInput {
  width: 0.1px;
  height: 0.1px;
  opacity: 0;
  overflow: hidden;
  position: absolute;
  z-index: -1;
}

#fileInputLabel {
  padding: 10px;
  background-color: #4CAF50;
  color: white;
  cursor: pointer;
  display: inline-block;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  width: 120px;
  text-align: center;
}

.theme-selector-container {
  position: fixed;
  top: 10px;
  left: 20px;
  padding: 8px;
  background-color: #fff;
  color: #000;
  border-radius: 5px; /* Optional: Add border-radius for a rounded appearance */
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.3); /* Optional: Add a box shadow for a visual separation */
  opacity: 0.1;
  transition: opacity 0.3s ease; /* Add transition for smooth background-color change */
}

.theme-selector-container:hover {
  opacity: 1; /* Set the opacity to 100% on hover */
}

/* Example Theme: Dark Theme */
.theme-dark {
  background-color: #333; /* Background color for the body */
  color: #fff; /* Text color for body */
}
.theme-dark #progress {
  color: #fff; /* Text color for body */
}
.theme-dark .card-container {
  background-color: #404040; /* Background color for the card */
  color: #fff; /* Text color for card */
  border: 2px solid #4C4C4C; /* Border thickness and color for card */
}

/* Midnight Blue Theme */
.theme-midnight-blue {
  background-color: #192938;
  color: #fff;
}
.theme-midnight-blue #progress {
  color: #fff;
}
.theme-midnight-blue .card-container {
  background-color: #17334C;
  color: #fff;
  border: 3px solid #244766;
}
