body {
  font-family: Arial, sans-serif;
  text-align: center;
}

.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 50px;
}

.file-input-container {
  margin-bottom: 20px;
}

.card-container {
  width: 80%; /* Increase width */
  height: 80vh; /* Increase height */
  max-width: 700px; /* Limit the maximum width */
  max-height: 700px; /* Limit the maximum height */
  background-color: #f1f1f1;
  margin: 20px auto;
  border: 1px solid #ccc;
  border-radius: 5px;
  position: relative;
  perspective: 1000px;
  overflow: hidden; /* Ensure content is contained within card */
}

.card-container.flip .card-inner {
  transform: rotateY(180deg);
}

.card-inner {
  width: 100%;
  height: 100%;
  position: relative;
  transform-style: preserve-3d;
  transition: transform 0.6s;
}

.card-front,
.card-back {
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  backface-visibility: hidden;
  padding: 20px; /* Add padding to create spacing within the cards */
  box-sizing: border-box; /* Include padding and border in element's total width and height */
  overflow-y: auto; /* Add scroll to card content */
}

.button-container {
  display: flex;
  justify-content: space-between; /* Add space between buttons */
  margin-top: 20px;
  width: 50%; /* Limit the width of the button container */
}

.button-container button {
  padding: 15px 30px; /* Increase button size */
  font-size: 20px; /* Increase font size */
}

#progress {
  margin-top: 20px;
  font-size: 20px;
  color: #333;
}

#question-header,
#answer-header {
  margin-bottom: 10px; /* Add spacing between header and content */
}

#question-content,
#answer-content {
  margin-top: 10px; /* Add spacing between header and content */
  display: block; /* Ensure the content is displayed as a block */
}
